<div class="navbar">
  <img src="https://i.pinimg.com/originals/1c/65/73/1c6573b3a499605debb897bfc4d8074f.png" alt="">
  <h4>SpaceBNB</h4>
  <p>Market place for your <strong>Sol System</strong> voyage</p>
  <img class="avatar" src="https://avatars0.githubusercontent.com/u/59450083?s=460&u=a968262b02616ba9015217afa11b2732e813c5e9&v=4" alt="">
</div>

<div class ="container">
<br>
    <ul>
      <div class="travel-cards" >
    <% @travels.each do |travel| %>
      <div class="travel-card" >
         <% if travel.photo.attached? %>
          <%= cl_image_tag(travel.photo.key, height: 300, width: 400, crop: :fill) %>
          <% end %>
        <li><%= link_to("#{travel.name_of_vehicle} is created by #{travel.organiser.first_name}", travel_path(travel)) %></li>
        <% if policy(travel).edit?%>
        <%= link_to "Update", edit_travel_path(travel) %>
        <% end %>
      </div>
    <% end %>
     </div>
    </ul>
  <div class ="button-center">
    <% if policy(Travel).create? %>
   <%= link_to("add a new travel", new_travel_path) %>
   <%end%>
  </div>

</div>

<br>
  <div class ="button-center">
   <%= link_to("my bookings", bookings_path) %>
  </div>
  <br>
    <div class ="button-center">
   <%= link_to("back to homepage", root_path) %>
  </div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    SpaceBnB is made with <i class="fas fa-rocket"></i> By Terri, Hugues, Will and Martin
  </div>
</div>
