<div class="navbar">
  <img src="https://i.pinimg.com/originals/1c/65/73/1c6573b3a499605debb897bfc4d8074f.png" alt="">
  <h4>SpaceBNB</h4>
  <img class="avatar" src="https://avatars0.githubusercontent.com/u/59450083?s=460&u=a968262b02616ba9015217afa11b2732e813c5e9&v=4" alt="">
</div>

<div class="d-flex justify-content-center">
<div class="form">
<%= simple_form_for(@travel) do |f| %>
  <%= f.input :address %>
  <%= f.input :destination %>
  <%= f.input :seats_available %>
  <%= f.input :departure_date, as: :date, html5: true, input_html: {min:Date.today} %>
  <%= f.input :name_of_vehicle %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %>
  <a class="btn btn-primary" style="color:white"><%= f.submit :submit %></a>

<% end %>
</div>
</div>






