<div class="navbar">
  <img src="https://i.pinimg.com/originals/1c/65/73/1c6573b3a499605debb897bfc4d8074f.png" alt="">
  <h4>SpaceBNB</h4>
  <img class="avatar" src="https://avatars0.githubusercontent.com/u/59450083?s=460&u=a968262b02616ba9015217afa11b2732e813c5e9&v=4" alt="">
</div>
<div class = "body" style = "background: linear-gradient(135deg, #01FFFF 0%, #EA5EDC 72%, #1E004C 100%)">


<div class = "container"  >
  <div>
    <tr>

<div class="card-product my-2">
<% if @travel.photo.attached? %>
          <%= cl_image_tag(@travel.photo.key, height: 300, width: 400, crop: :fill) %>
           <% else %>
            <img src="https://www.forbes.fr/wp-content/uploads/2019/12/960x0-11-e1576486629882-740x370.jpg" alt="">
  <% end %>
  <div class="card-product-infos">
    <h2><%= "#{@travel.destination} for #{@travel.organiser.first_name}" %></h2>
    <p><%= "#{@travel.organiser.first_name} is proposition #{@travel.seats_available} seats in his brand new #{@travel.name_of_vehicle} on the #{@travel.departure_date}" %></p>
  </div>
</div>
<a class="btn btn-primary my-1"<%= link_to("Book", new_travel_booking_path(@travel)) %></a>


  <tr>
<a class="btn btn-primary my-1"<%= link_to("Back", travels_path)%></a>


</div>
</div>
