<h1>my bookings</h1>
<br>
<div class="flex-box">
  <div>
    <h4>My futur travels</h4>
    <ul>
      <% @bookings.each do |booking| %>
        <li><%= "#{booking.user.first_name} is going to #{booking.travel.destination}" %></li>
        <% if policy(Booking).destroy? %>
       <%= link_to("delete the booking", booking_path(booking), method: :delete) %>
       <%end%>
      <% end %>
    </ul>
  </div>
  <div>
    <h4>My spaceship management</h4>
      <ul>
         <% total_money = 0 %>
        <% @travels.each do |travel| %>
          <li>
              <h5><%="#{travel.name_of_vehicle}"%></h5>
            <%="Your spaceship has #{travel.seats_available} seats available and #{travel.people_onboard} people on board." %>
            <%="With this spaceship, you are earning a total of #{travel.people_onboard * travel.price}€."%>
            <% total_money += travel.people_onboard * travel.price %>
          </li>
        <% end %>
      </ul>
      <%= "Your total earning is #{total_money}€." %>
  </div>

</div>
<br>
<%= link_to("Back to all travels", travels_path) %>
