<div class="banner">
  <div class="container">
    <h1>SpaceBnB brings closer the Outer Space!</h1>
    <p>Travel throught Space just in a clik.</p>
    <a class="btn btn-flat"<%= link_to("All travels", travels_path) %>></a>
  </div>
</div>

<%= link_to("sign in", new_user_session_path) %>
<%= link_to("sign up", new_user_registration_path) %>
<%= link_to("sign out",  destroy_user_session_path, method: :delete) %>

<% Travel.last(10) do |travel| %>
<li><%= travel.destination %></li>
<%end%>
